@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "../node_modules/bootstrap/scss/functions";

$border-light: rgb(223, 223, 223);

$btn-font-size: 0.875rem;
$btn-font-weight: 500;
$btn-padding-y: .25rem;
$btn-padding-x: .5rem; 


$input-padding-y: .45rem;
$input-padding-x: .6rem;
$input-font-size: .875rem;
$input-focus-bg: none;
$input-focus-width: 0;
$input-border-color: rgb(195, 195, 195);

$primary: #5f3ad9;

$form-floating-padding-y: .7rem;
$form-floating-input-padding-t: 1.4rem;

$card-border-color: $border-light;


@import "../node_modules/bootstrap/scss/variables";

$form-floating-height: add(2.9rem, $input-height-border);

$btn-border-radius: $border-radius-sm;

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";

h1,h2,h3,h4,h5,h6 {
	font-family: "Rubik", sans-serif;
}

* {
	font-family: "Roboto", sans-serif;
}


.btn.btn-primary:hover {
 	box-shadow: 0 0 5px rgba(95, 58, 217, 0.5);
}

.form-control {
 	// box-shadow: 0 0 1px rgb(195, 195, 195);	
	transition: none !important;
}

.form-control:focus {
 	box-shadow: 0 0 1px $primary;

}

.btn.btn-primary:focus, .form-control:focus {
	outline: 2px solid $primary;
  	outline-offset: 1px; 
}
