@import "../node_modules/bootstrap/scss/functions";
$border-light: rgb(223, 223, 223);

$btn-font-size: 0.875rem;
$btn-font-weight: 500;
$btn-padding-y: .25rem;
$btn-padding-x: .5rem; 


$input-padding-y: .45rem;
$input-padding-x: .6rem;
$input-font-size: .875rem;
$input-focus-bg: none;
$input-focus-width: 0;
// $input-border-color: rgb(195, 195, 195);

$primary: #284C79;
$secondary: #C9A961;
//#5f3ad9

$form-floating-padding-y: .7rem;
$form-floating-input-padding-t: 1.4rem;

$card-border-color: $border-light;
// $card-border-radius: 0;


@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$form-floating-height: add(2.9rem, $input-height-border);

$btn-border-radius: $border-radius-sm;

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";

h1,h2,h3,h4,h5,h6 {
	font-family: "Crimson Text", serif;
	font-weight: bold;
}

* {
	font-family: "Roboto", sans-serif;
}

html, body {
	font-size: 15.5px;
}


.btn.btn-primary:hover {
 	box-shadow: 0 0 5px rgba(95, 58, 217, 0.5);
}

.form-control {
 	// box-shadow: 0 0 1px rgb(195, 195, 195);	
	transition: none !important;
}

.form-control:focus {
 	box-shadow: 0 0 1px $primary;

}

.btn.btn-primary:focus, .form-control:focus {
	outline: 2px solid $primary;
  	outline-offset: 1px; 
}


hr {
	margin: 0;
	border-top: 1px solid rgb(150, 150, 150) !important;
}



.fullscreen {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

a.unstyled {
	text-decoration: none;
}

.subtitle {
	@extend .text-muted; 
	@extend .text-uppercase;
	@extend .fw-semibold;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.pill-lg {
	padding: .3rem .65rem;
	display: inline-flex;
	column-gap: .5rem;
	border-radius: 5px;
}

.pill-lg.pill-success {
	@extend .bg-success-subtle;
	@extend .text-success;
}

.pill-lg.pill-primary {
	@extend .bg-primary-subtle;
	@extend .text-primary;
}

.pill-lg.pill-warning {
	@extend .bg-warning-subtle;
	@extend .text-warning;
}

.pill-lg.pill-danger {
	@extend .bg-danger-subtle;
	@extend .text-danger;
}